In [66]:
import pandas as pd

In [67]:
facility_data = pd.read_csv("../RecordFuse/data/synthetic_facility_v3.csv")
household_data = pd.read_csv("../RecordFuse/data/synthetic_hdss_v3.csv")

In [68]:
facility_data.head(50)

,recnr,firstname,lastname,petname,dob,sex,nationalid,patientid,visitdate
0,2,Fatuma,NaN,Zaina,24-08-2017 00:00,2,N_ID_5000,2069,10-09-2018
1,3,Gloria,Rashida,NaN,11-07-1993 00:00,2,N_ID_11861,2079,14-12-2022
2,4,Ali,Hakram,Igomu,17-05-2014 00:00,1,N_ID_11864,2080,09-06-2023
3,5,Nakalema,NaN,Nkwanga,27-02-2026 00:00,2,N_ID_11867,2081,07-02-2019
4,6,Asuman,Sempa,Aguti,02-03-2002 00:00,1,N_ID_11870,2082,18-08-2020
5,7,Haifa,Alice,Xama,27-12-1945 00:00,2,N_ID_11873,2083,11-02-2021
6,8,Namutamba,Sumaya,Bria,18-02-1997 00:00,2,N_ID_11876,2084,11-08-2023
7,9,Madina,Shirati,Sira,10-07-1997 00:00,2,N_ID_5006,2085,11-06-2021
8,10,Mulondo,Kaziba,Anko,11-11-1976 00:00,1,N_ID_5009,2086,06-06-2022
9,11,Bakali,Kisambira,Nalubega,23-12-1946 00:00,1,N_ID_5012,2087,01-09-2022
10,12,Nasiri,Kirunda,Ebitu,02-06-1959 00:00,1,N_ID_5015,2088,28-11-2018
11,13,Azena,Naula,Babiri,01-11-1976 00:00,2,N_ID_5021,2089,12-09-2021
12,14,Shuube,Sowobi,NaN,26-04-1977 00:00,2,N_ID_5003,2070,13-08-2023
13,15,Bakali,Patrick,Nakalanzi,02-01-1956 00:00,1,N_ID_5024,2090,23-06-2021
14,16,Akiramu,Kigenyi,Malinga,18-08-2010 00:00,1,N_ID_5027,2091,07-04-2020
15,17,Nakinonko,Namatende,Alinda,08-10-2014 00:00,2,N_ID_5030,2092,25-06-2020
16,18,Hajara,Namusubo,NaN,02-12-1955 00:00,2,N_ID_5033,2093,19-10-2021
17,19,Wanyenya,Nakwanga,Nakalanzi,14-10-1987 00:00,2,N_ID_5036,2094,17-03-2019
18,20,Rose,Kyobonera,Kiwanuka,24-10-1934 00:00,2,N_ID_5039,2095,11-10-2020
19,21,Nabirye,Juliet,NaN,07-11-2003 00:00,2,N_ID_5042,2096,27-07-2019
20,22,Mukama,Alamazani,Cheche,20-05-1963 00:00,1,N_ID_5045,2097,01-01-2023
21,23,Basalirwa,Waigangala,Namazzi,07-12-2011 00:00,1,N_ID_5048,2098,16-12-2019
22,24,Amulasi,Sumini,Abasi,21-03-1961 00:00,2,N_ID_5051,2099,11-05-2022
23,25,Viola,Nankwanga,Nambi,06-05-1983 00:00,2,N_ID_5054,2100,05-04-2019
24,26,Sauya,Doreen,Gani,22-01-1945 00:00,2,N_ID_5057,2101,12-10-2018
25,27,Booza,Munilu,Nabbosa,12-01-2007 00:00,1,N_ID_5060,2102,11-12-2022
26,28,Naigaga,Favour,Nakate,17-01-1999 00:00,2,N_ID_5063,2103,24-02-2022
27,29,Shamimu,Babirye,Jira,27-01-2011 00:00,2,N_ID_5066,2104,16-06-2019
28,30,Katoko,Namudu,Nira,08-10-1976 00:00,2,N_ID_5069,2105,11-06-2019
29,31,Aminsi,Ibra,Jose,22-12-2000 00:00,1,N_ID_5072,2106,12-10-2019
30,32,Balidawa,Ashim,Asim,25-06-1989 00:00,1,N_ID_5075,2107,30-08-2019
31,33,Namugabo,Nabirye,Kabiito,28-10-1969 00:00,2,N_ID_5078,2108,29-11-2021
32,34,Namutamba,Ndobozi,NaN,19-08-2004 00:00,2,N_ID_5081,2109,06-07-2020
33,35,Namutamba,Namulinda,Kwezi,16-08-2018 00:00,2,N_ID_5084,2110,24-01-2021
34,36,Kaziba,Elijah,Mukisa,07-03-1964 00:00,1,N_ID_5087,2111,28-01-2021
35,37,Isiko,Akisamu,Mwesigwa,30-07-2018 00:00,1,N_ID_5090,2112,19-12-2020
36,38,Naigaga,Nakaziba,Bintu,08-04-1998 00:00,2,N_ID_5093,2113,19-04-2022
37,39,Rehema,Nanghendo,Atito,20-01-1971 00:00,2,N_ID_5096,2114,01-10-2021
38,40,Muwanguzi,Nkuligye,Nabbosa,24-02-1969 00:00,1,N_ID_5099,2115,08-07-2019
39,41,Bakarikwiira,Mwamadi,Nalubega,23-06-1951 00:00,1,N_ID_5102,2116,21-07-2019
40,42,Jane,Babirye,Adidi,12-05-1961 00:00,2,N_ID_5105,2117,06-12-2021
41,43,Zabina,Peace,Bitature,13-06-1959 00:00,2,N_ID_5108,2118,25-03-2019
42,44,Waiswa,Magemeso,Mukasa,06-04-2007 00:00,1,N_ID_5111,2119,06-11-2019
43,45,Babirye,Asina,Ila,01-10-2021 00:00,2,N_ID_5114,2120,08-11-2021
44,46,Florence,Praise,Angoma,28-10-1991 00:00,2,N_ID_5117,2121,22-08-2019
45,47,Mutesi,Rebecca,Nampijja,10-07-1982 00:00,2,N_ID_5120,2122,27-06-2021
46,48,Kakaire,Sande,Nakalanzi,22-09-1998 00:00,1,N_ID_5123,2123,12-10-2020
47,49,Zauma,Bridget,Nakalema,28-04-1993 00:00,2,N_ID_5126,2124,20-02-2022
48,50,Magoola,Muzafaru,Kanyike,31-05-2017 00:00,1,N_ID_5129,2125,29-03-2019
49,51,Fauza,Aisha,Nakato,26-01-1932 00:00,2,N_ID_5132,2126,14-11-2020

In [69]:
facility_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2902 entries, 0 to 2901
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   recnr       2902 non-null   int64
 1   firstname   2902 non-null   object
 2   lastname    2835 non-null   object
 3   petname     2511 non-null   object
 4   dob         2902 non-null   object
 5   sex         2902 non-null   int64
 6   nationalid  2902 non-null   object
 7   patientid   2902 non-null   int64
 8   visitdate   2902 non-null   object
dtypes: int64(3), object(6)
memory usage: 204.2+ KB

In [70]:
facility_data.isnull().sum()

recnr           0
firstname       0
lastname       67
petname       391
dob             0
sex             0
nationalid      0
patientid       0
visitdate       0
dtype: int64

In [71]:
facility_data.firstname.value_counts().head(50)

Nabirye      54
Mutesi       52
Naigaga      45
Nakaziba     33
Nangobi      31
Mariam       29
Babirye      24
Kagoya       23
Fatuma       22
Nakagolo     22
Namukose     20
Sarah        18
Madina       18
Namuwaya     16
Namususwa    16
Florence     16
Kisambira    16
Hadija       15
Kaziba       15
Namaganda    14
Sauya        13
Salima       13
Muwaya       13
Naiwumbwe    13
Shanita      13
Nankwanga    13
Zabina       13
Tenywa       12
John         12
Sumaya       12
Betty        12
Janet        11
Nakidodo     11
Ruth         11
Fahadi       11
Mwesigwa     11
Amina        10
Hassan       10
Zaina        10
Namusobya    10
Christine    10
Nakasolo      9
Anisha        9
Jamira        9
Faizo         9
Damali        9
Rose          9
Kauma         9
Hajara        9
Bushira       9
Name: firstname, dtype: int64

In [72]:
print(facility_data.lastname.value_counts().head(50))

Naigaga       55
Nabirye       48
Mutesi        46
Nangobi       40
Nakaziba      39
Nakagolo      33
Namaganda     29
Babirye       29
Shanita       18
Sumaya        17
Nankwanga     17
Kagoya        16
Fatuma        16
Kauma         15
Shakira       14
Nakiranda     14
Mariam        14
Kisambira     14
Naiwumbwe     14
Isabirye      13
Aisha         13
Waiswa        12
Namukose      12
Namulondo     12
Nakanda       12
Lydia         11
Sarah         11
Kakaire       11
Nakisuyi      11
Sowobi        11
Namuwaya      10
Namusubo      10
Lwabaga       10
Namwebya      10
Shaluwa        9
Kigenyi        9
Shamira        9
Kaudha         9
Mutale         9
Waigangala     9
Namukobe       9
Tenywa         8
Wotali         8
Nakadama       8
Phiona         8
Kirabira       8
Namususwa      8
Margret        8
Namatende      8
Janat          8
Name: lastname, dtype: int64

In [73]:
print(facility_data.petname.value_counts().head(50))

Nakalanzi    59
Nakato       55
Nalubega     42
Nabbosa      38
Nsereko      20
Nambi        17
Kizito       16
Nakyobe      15
Nalukenge    14
Nsibambi     13
Namuddu      13
Sira         13
Nakayiza     12
Dara         12
Malaika      12
Namara       11
Kiganda      11
Nadduli      10
Ema          10
Lukwago      10
Kagimu       10
Bintu        10
Ekwamu       10
Kazi         10
Kafeero      10
Kato          9
Nakalema      9
Kamya         9
Mwesigwa      9
Mugasha       9
Wazi          9
Mugabi        9
Kirabo        9
Nabirye       8
Biyinzika     8
Nalukwago     8
Mirembe       8
Angoma        8
Kyakonye      8
Tara          8
Awori         8
Jajja         8
Nira          8
Alinda        8
Nola          7
Panda         7
Ayugi         7
Bino          7
Nalubowa      7
Biyago        7
Name: petname, dtype: int64

In [74]:
print(facility_data.dob.value_counts().head(50))

26-09-1969 00:00    4
10-01-1933 00:00    4
07-11-1956 00:00    4
27-12-2018 00:00    4
08-02-2025 00:00    3
27-10-1959 00:00    3
29-05-1983 00:00    3
05-11-1953 00:00    3
10-07-1982 00:00    3
02-12-1989 00:00    3
20-12-1937 00:00    3
29-05-1974 00:00    3
21-01-1954 00:00    3
22-11-1991 00:00    3
05-04-1977 00:00    3
24-05-1969 00:00    3
08-07-1947 00:00    3
15-03-1962 00:00    3
18-02-1938 00:00    3
10-11-1949 00:00    3
05-03-1939 00:00    3
29-06-1947 00:00    3
11-11-2018 00:00    3
10-06-1996 00:00    3
10-05-1973 00:00    3
05-04-2024 00:00    3
22-03-2005 00:00    3
27-02-1934 00:00    3
06-06-1966 00:00    3
11-07-1972 00:00    3
23-01-2003 00:00    3
29-01-1973 00:00    3
23-08-1990 00:00    3
26-10-1933 00:00    3
17-07-2018 00:00    3
25-04-2012 00:00    2
16-03-1936 00:00    2
26-11-2024 00:00    2
06-11-1970 00:00    2
26-03-1934 00:00    2
04-12-1980 00:00    2
31-05-1981 00:00    2
03-03-1942 00:00    2
29-09-2012 00:00    2
30-06-1934 00:00    2
01-06-1949 00:00    2
07-07-1988 00:00    2
09-02-2020 00:00    2
25-07-1957 00:00    2
17-07-1944 00:00    2
Name: dob, dtype: int64

In [75]:
print(facility_data['nationalid'].nunique())

2902

In [76]:
print(facility_data['patientid'].nunique())

2902

In [77]:
print(facility_data.visitdate.value_counts().head(50))

23-05-2020    7
27-07-2023    7
02-02-2019    6
09-01-2019    6
02-05-2022    6
11-02-2021    6
13-11-2022    6
13-08-2019    6
28-06-2021    6
16-12-2019    6
04-02-2021    6
08-10-2021    5
13-05-2019    5
29-12-2022    5
27-02-2019    5
27-08-2018    5
14-09-2020    5
19-12-2019    5
27-12-2022    5
26-10-2018    5
30-08-2019    5
23-07-2022    5
30-03-2021    5
08-02-2021    5
09-03-2020    5
16-03-2019    5
21-06-2022    5
01-10-2020    5
07-11-2021    5
30-09-2022    5
24-08-2020    4
15-07-2023    4
06-08-2021    4
26-12-2021    4
23-08-2022    4
28-11-2019    4
31-07-2019    4
03-01-2022    4
26-05-2022    4
21-08-2020    4
09-04-2020    4
21-12-2022    4
01-06-2019    4
25-07-2022    4
28-08-2020    4
27-01-2022    4
12-05-2019    4
23-11-2019    4
19-11-2021    4
10-06-2019    4
Name: visitdate, dtype: int64

In [78]:
household_data.head(50)

,recnr,firstname,lastname,petname,dob,sex,nationalid,hdssid,hdsshhid
0,1,Zaina,Hanifa,Ula,22-09-1930 00:00,2,NaN,I20001,HH100001
1,2,Godfrey,Maganda,Mukama,15-07-1934 00:00,1,NaN,I20002,HH100002
2,3,Kasim,Ngobi,Galabuzi,03-03-1983 00:00,1,NaN,I20003,HH100003
3,4,Esther,NaN,Inara,30-07-1968 00:00,2,NaN,I20004,HH100004
4,5,Sumaya,Swabula,NaN,13-12-1930 00:00,2,NaN,I20005,HH100005
5,6,Hussein,Nakiruba,Mukembo,25-09-1983 00:00,1,NaN,I20006,HH100006
6,7,Mawazi,Musa,Mugasha,27-11-1975 00:00,1,NaN,I20007,HH100007
7,8,Hassan,Kapisi,Ganyana,25-03-1981 00:00,1,NaN,I20008,HH100008
8,9,Zubairi,Adam,Lubega,01-10-1931 00:00,1,NaN,I20009,HH100009
9,10,Zubeda,Winnie,Isha,16-04-1935 00:00,2,NaN,I20010,HH100010
10,11,Babigumira,Sarah,Vara,27-08-1994 00:00,2,NaN,I20011,HH100011
11,12,Taweka,Lillian,NaN,03-06-1933 00:00,2,NaN,I20012,HH100012
12,13,Kitimbo,Bahati,Labeja,04-10-1995 00:00,1,NaN,I20013,HH100013
13,14,Nakaziba,Kamega,NaN,28-07-1947 00:00,2,NaN,I20014,HH100014
14,15,Nangobi,Shamimu,NaN,12-08-2012 00:00,2,NaN,I20015,HH100015
15,16,Benon,Sowobi,Mande,16-09-2010 00:00,1,NaN,I20016,HH100016
16,17,Nakizibu,Nakiyuka,Nanda,02-01-1973 00:00,2,NaN,I20017,HH100017
17,18,Waigangala,Idd,Mukembo,03-08-1956 00:00,1,NaN,I20018,HH100018
18,19,Fred,Bwamiki,Jajja,29-08-2011 00:00,1,NaN,I20019,HH100019
19,20,Shamina,Mercy,Kala,24-08-1963 00:00,2,NaN,I20020,HH100020
20,21,Nakalema,Awino,NaN,08-06-1997 00:00,2,NaN,I20021,HH100021
21,22,Isabirye,Kizito,Mirembe,16-07-2025 00:00,1,NaN,I20022,HH100022
22,23,Nalujja,Veronica,Nima,10-09-2017 00:00,2,NaN,I20023,HH100023
23,24,Nankwanga,Namusobya,Azara,24-11-1980 00:00,2,NaN,I20024,HH100024
24,25,Hakima,Naigaga,Wura,22-03-1967 00:00,2,NaN,I20025,HH100025
25,26,Kisambira,Sajabi,Kazi,28-07-1952 00:00,1,NaN,I20026,HH100026
26,27,Mirabu,Fatuma,Dara,26-01-1954 00:00,2,NaN,I20027,HH100027
27,28,Magumba,Iduma,Muliika,23-09-2024 00:00,1,NaN,I20028,HH100028
28,29,Anisha,Mirisa,Vama,13-09-1991 00:00,2,NaN,I20029,HH100029
29,30,Jamali,Balyesa,Kazi,06-04-1974 00:00,1,NaN,I20030,HH100030
30,31,Twaha,Mukalazi,Abbo,07-06-1992 00:00,1,NaN,I20031,HH100031
31,32,Kasujja,Alufanu,Kulubya,20-04-1978 00:00,1,NaN,I20032,HH100032
32,33,Anisha,Nangobi,Rira,04-10-1992 00:00,2,NaN,I20033,HH100033
33,34,Mawazi,Ziraba,Magyezi,07-04-2002 00:00,1,NaN,I20034,HH100034
34,35,Zabina,Nakayuza,Halima,23-11-1980 00:00,2,NaN,I20035,HH100035
35,36,Namukuve,Namulondo,NaN,19-06-2006 00:00,2,NaN,I20036,HH100036
36,37,Shamina,Eseza,NaN,04-10-1945 00:00,2,NaN,I20037,HH100037
37,38,Kidodo,Tulina,Mugasha,22-07-2003 00:00,1,NaN,I20038,HH100038
38,39,Namusubo,Mutale,Zada,26-02-1939 00:00,2,NaN,I20039,HH100039
39,40,Naiboka,Tauba,Fama,18-06-1960 00:00,2,NaN,I20040,HH100040
40,41,Namulinda,Kyazike,Sana,08-04-1982 00:00,2,NaN,I20041,HH100041
41,42,Nakaziba,Naiwumbwe,NaN,16-10-1969 00:00,2,NaN,I20042,HH100042
42,43,Kaziba,Wantati,Mugenzi,14-06-2022 00:00,1,NaN,I20043,HH100043
43,44,Shirati,Namukasa,Panda,10-11-2019 00:00,2,NaN,I20044,HH100044
44,45,Babirye,Mutesi,NaN,18-07-1949 00:00,2,NaN,I20045,HH100045
45,46,Babirye,Namaganda,Azara,26-06-2026 00:00,2,NaN,I20046,HH100046
46,47,Hassan,Alex,Jogo,21-08-1994 00:00,1,NaN,I20047,HH100047
47,48,Medi,Tibita,Balaba,08-06-1991 00:00,1,NaN,I20048,HH100048
48,49,Isa,Mukose,Anko,13-07-1995 00:00,1,NaN,I20049,HH100049
49,50,Peace,Zamu,Gia,13-06-1986 00:00,2,NaN,I20050,HH100050

In [79]:
household_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4115 entries, 0 to 4114
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   recnr       4115 non-null   int64
 1   firstname   4115 non-null   object
 2   lastname    4031 non-null   object
 3   petname     2894 non-null   object
 4   dob         4115 non-null   object
 5   sex         4115 non-null   int64
 6   nationalid  0 non-null      float64
 7   hdssid      4115 non-null   object
 8   hdsshhid    4115 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 289.5+ KB

In [80]:
household_data.isnull().sum()

recnr            0
firstname        0
lastname        84
petname       1221
dob              0
sex              0
nationalid    4115
hdssid           0
hdsshhid         0
dtype: int64

In [81]:
print(household_data.firstname.value_counts().head(50))

Mutesi       73
Naigaga      68
Nabirye      62
Nangobi      55
Mariam       48
Nakaziba     46
Fatuma       33
Babirye      31
Hadija       29
Kagoya       25
Kaziba       25
Kisambira    25
Namususwa    23
Sarah        22
Naiwumbwe    22
Florence     21
Nakagolo     21
Namukose     21
Namuwaya     20
Madina       20
Nankwanga    20
Janet        19
Nakidodo     18
Namaganda    18
Zaituna      18
Mukisa       17
Amina        16
John         15
Betty        15
Ruth         14
Mwesigwa     14
Sharon       14
Aisa         14
Shanita      14
Rehema       14
Tenywa       13
Lukia        13
Kaudha       13
Zaina        13
Hajira       13
Hasifa       12
Nasimu       12
Zabina       12
Aisha        12
Namulondo    12
Muwaya       12
Namusobya    12
Justine      12
Lovisa       12
Ayubu        12
Name: firstname, dtype: int64

In [82]:
print(household_data.lastname.value_counts().head(50))

Naigaga      84
Nabirye      80
Nangobi      66
Mutesi       60
Nakaziba     50
Nakagolo     45
Babirye      42
Namaganda    34
Kagoya       29
Naiwumbwe    29
Namulondo    23
Aisha        22
Isabirye     21
Fatuma       21
Kauma        20
Shanita      20
Waiswa       19
Namatende    19
Nankwanga    19
Nakiranda    18
Kakaire      17
Sowobi       16
Namukose     16
Sumaya       16
Kaziba       16
Kisambira    15
Namumbya     14
Namususwa    14
Mukisa       14
Sarah        14
Lydia        14
Tenywa       14
Shakira      14
Namuwaya     13
Hadija       13
Shamimu      13
Nkwanga      12
Namusubo     12
Namwebya     12
Madina       12
Mariam       12
Mutale       12
Shamina      11
Halima       11
Naikoba      11
Kaudha       11
Nakisuyi     11
Namwase      11
Maganda      11
Ngobi        11
Name: lastname, dtype: int64

In [83]:
print(household_data.petname.value_counts().head(50))

Sira          26
Ema           24
Najjuma       23
Lukwago       22
Mugasha       21
Masiko        21
Vira          20
Dara          20
Yara          20
Fara          19
Tara          19
Mira          19
Mukitale      18
Vara          18
Masinde       18
Lwanga        18
Bria          18
Mugenzi       18
Chuma         17
Uma           17
Ula           16
Mukama        16
Mwesige       16
Esa           15
Pira          15
Bisa          15
Muhairwe      15
Mukasa        15
Nadduli       15
Mukembo       15
Qira          14
Lubega        14
Kyomuhendo    14
Cira          14
Lwasa         14
Ora           14
Masolo        14
Magyezi       14
Nira          14
Dina          13
Kyeyune       13
Kira          13
Zara          13
Gani          13
Femi          13
Mukwaya       13
Ima           13
Wura          13
Nakiwala      13
Mwesigwa      13
Name: petname, dtype: int64

In [84]:
print(household_data.dob.value_counts().head(50))

09-08-1934 00:00    3
09-07-2016 00:00    3
14-01-1951 00:00    3
18-06-2020 00:00    3
03-12-2004 00:00    3
23-07-2023 00:00    2
18-08-2025 00:00    2
26-08-2014 00:00    2
28-03-2019 00:00    2
06-11-1977 00:00    2
28-12-1992 00:00    2
02-10-1950 00:00    2
11-08-1960 00:00    2
26-10-1983 00:00    2
05-09-1974 00:00    2
24-04-1960 00:00    2
24-10-2016 00:00    2
29-05-1994 00:00    2
15-05-2001 00:00    2
25-04-1984 00:00    2
17-06-1952 00:00    2
08-11-1986 00:00    2
17-01-1961 00:00    2
03-11-1991 00:00    2
27-12-2008 00:00    2
13-08-1999 00:00    2
12-06-1989 00:00    2
20-07-1930 00:00    2
02-10-2023 00:00    2
05-08-2022 00:00    2
15-03-1964 00:00    2
06-12-2007 00:00    2
01-01-1978 00:00    2
02-04-1981 00:00    2
04-10-1942 00:00    2
05-09-1980 00:00    2
27-12-1943 00:00    2
19-01-1998 00:00    2
24-10-1985 00:00    2
24-05-1959 00:00    2
03-03-2000 00:00    2
16-07-1934 00:00    2
23-01-2013 00:00    2
24-03-1977 00:00    2
16-03-2015 00:00    2
09-11-2008 00:00    2
08-12-2009 00:00    2
29-11-2003 00:00    2
09-10-1950 00:00    2
30-04-1944 00:00    2
Name: dob, dtype: int64

In [85]:
print(household_data['hdssid'].nunique())

4115

In [86]:
print(household_data['hdsshhid'].nunique())

4115